// bower:scss
// endbower

.explorer-frame {
  position: relative;
  width: 100%;
  background: #acfd32;

}

.explorer-default-image {
  width: 100%;
  height: auto;
}

.explorer-canvas {
  position: absolute;
  width: 100%;
  height: auto;

  &.frames {z-index: 1;}
  &.callouts {z-index: 2;}
}

.explorer-controls {
  position: absolute;
  width: 40%;
  bottom: 20px;
  left: 50%;
  margin-left: -20%;
  z-index: 3;
}

.explorer-spinner {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
}




